<nav class="navbar navbar-expand-sm navbar-dark bg-dark text-white mb-4" >
    <div  class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link"  th:href="@{/warehouse/home}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  th:href="@{/warehouse/inventory}">Inventory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{add-item}">Add to Inventory</a>
            </li>
        </ul>
    </div>
</nav>