<nav class="navbar navbar-expand-sm navbar-dark bg-dark text-white mb-4" >
    <div  class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link"  th:href="@{/restaurant/home}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  th:href="@{/restaurant/menu/1}">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/restaurant/add-dish}">Add Dish</a>
            </li>
        </ul>
    </div>
</nav>