.content {
    margin: 100px;
    min-height: 65vh;
    padding: 5px;
}

.home-card{
    background-color: rgb(34 37 41) ;
    color: whitesmoke;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 15px 15px 8px 12px darkgrey;
    margin: 50px;
}