<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
  <div class="main">
    <header th:include="@{/fragments/header.html}"></header>
      <div class="content">
        <div class="home-card">
          <h1 >Welcome to <span th:text="${store}"></span></h1>
          <!-- Showing Name of Store using Constant from Controller -->
        </div>
        <div class="m-5" >
          <a   th:href="@{/warehouse/inventory}" class=" btn btn-primary mr-5 p-2 text-center">Browse Inventory</a>
          <a  th:href="@{/warehouse/add-item}" class="btn btn-primary mr-5 p-2 text-center"> Add Item</a>
        </div>
      </div>
    <footer th:include="@{/fragments/footer.html}"></footer>
  </div>
</body>
</html>